/*DEVELOPER: Reiya Jain, IS117-001, Fall 2023 */

header{
    background: rgb(219,153,90);
    color: white;
    padding: 15px 15px 15px 15px;
    margin: auto
}

header strong{
    margin: auto;
    font-size: 40px;
    padding: 0px;
    display: inline;
}

header ul li {
    margin: auto;
    display: inline;
    font-size: 20px;
    padding: 10px;
}

header ul li a {
    color: white;
}


main {
    margin: 30px;
}

main h2{
    margin: 0px 0px 30px 20px;
    padding: 10px;
    font-size: 40px;
    background-color: #D4E3EC;
}

main img{
    float: left;
    margin: 10px;
}

main h4{
    margin: 50px 0px 0px 0px;
}

main h3{
    margin: 40px 0px 0px 0px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #759CD1;
    color: white;
    text-align: center;
    font-size: 20px;
}